<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detalhes do Produto - ERP</title>
</head>
<body>
    {% if produto %}
        <h1>Detalhes do Produto</h1>
        
        
        <img src="{{ produto.imagem.url }}" alt="{{ produto.nome }}" width="400px">
        
        <ul>
            <li><b>Nome: </b>{{ produto.nome }}</li>
            <li><b>Descrição: </b>{{ produto.descricao }}</li>
            <li><b>Preço: </b>{{ produto.preco }}</li>
        </ul>
    {% else %}
        <h1>Produto com este ID não encontrado!</h1>
    {% endif %}
</body>
</html>